* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(54, 212, 48);
}

.menu {
    background-color: rgb(192, 228, 228);
   background-repeat: no-repeat;
   background-size: 1400px;
   height: 120px;
   width: 100%;

}
.menu .logo {
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(4, 8, 4);
    line-height: 110px;
    padding: 0 30px;
    font-weight: bold;
   
}
/*'ul' é o elemento 'filho' da classe pau 'menu'*/
.menu ul {
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}

.menu ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
/*Acessando o primeiro elemento filho*/
.menu ul li ~ a {
    color: black;
}

.menu ul li a {
    color: green;
    font-size: 15px;
    text-transform: uppercase;
    background-color: white;
    padding: 7px 20px;
    border-radius: 6px;
    font-weight: bold;

    transition: 0.2s;

}

/*pseudo, usando hover */
.menu ul li a:hover {
  
    background-color: rgb(54, 212, 48);

}
/*pseudo, usando active*/
/* .menu ul li > a:active {
    background-color: rgb(214, 143, 143);
} */


.main-content {

}

.main-content h1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.main-content p {
    font-size: 20px;
    margin-bottom:  30px;
    margin-left: 25px;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 231, 118);
    height: 120px;
}





