* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(54, 212, 48);
}

.menu {
   /* background-color: rgb(198, 216, 198);*/
   background-image: url(../Mídias/home/paisagem.png);
   background-repeat: no-repeat;
   background-size: 1400px;
   height: 250px;
   width: 100%;

}

.menu .logo {
    font-size: 35px;
    color: rgb(4, 8, 4);
    line-height: 90px;
    padding: 0 40px;
    font-weight: bold;
   
}

.menu ul {
    float: right;
    margin-right: 100px;
    margin-top: 9px;
}

.menu ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

.menu ul li a {
    color: green;
    font-size: 17px;
    text-transform: uppercase;
    background-color: white;
    padding: 7px 20px;
    border-radius: 9px;
    font-weight: bold;

    transition: 0.2s;

}


.menu ul li a:hover {
  
    background-color: rgb(157, 216, 80);

}

.main-content {

}

.main-content h1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.main-content p {
    font-size: 20px;
    margin-bottom:  30px;
    margin-left: 25px;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 231, 118);
    height: 120px;
}





